<div class="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-15 bg-dark p-2">
                <a routerLink="/" class="text-white text-decoration-none">
                    <span class="fs-4 title">Random Access Memory Processing Chart</span>
                </a>
            </div>
        </div>
        <div style="">
            <div class="header" style="height: 100px"></div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>